[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/reverse81
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/reverse81
	label-Verified = -1..+1 group user/reverse81
	push = group user/reverse81
	read = group user/reverse81
	rebase = group user/reverse81
	removeReviewer = group user/reverse81
	submit = group user/reverse81
[access "refs/heads/*"]
	create = group user/reverse81
	push = +force group user/reverse81
	pushMerge = group user/reverse81
	read = group user/reverse81
[access "refs/tags/*"]
	push = group user/reverse81
	push = +force group user/reverse81
