<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arch3.lge.com.voip">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <service android:name=".model.UDPnetwork.TCPCmd" />
        <service android:name=".listener.TCPListenerService" />

        <activity android:name=".ui.RequestCallActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.CallingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.ConferenceCallingActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DialpadActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ReceivedCallActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.ContactActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.ConferenceActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity android:name=".ui.UserInfoActive"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ContactListAddActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ConferenceRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ui.ContactSelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ContactListEditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.RecoveryActivity"/>
        <receiver android:name=".listener.WifiReceiver" >
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>


        <receiver android:name=".listener.BroadcastReceiverOnBootComplete" >
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>